@import 'tailwindcss';
@plugin "daisyui";

@layer base {

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

@theme {
  --color-flex-component-black: #1C1B1F;
  --color-flex-component-gray-light: #EFF1F5;
  --color-flex-component-gray-medium: #A19CAC;
  --color-flex-component-white: #FFFFFF;
}
